<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Wu-shu Wisdom</h1>
    <h3 class="subtitle">Add a new quote</h3>
    <form action="/quotes" method='POST'>
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        <button type="submit">Submit</button>
    </form>
    <h2 class="quote-of-the-day">A quote for you:</h2>
    <ul class="each-quote" data-id='<%= quotes[randomIndex]._id %>'>
        <li><span class="quote-text"><%= quotes[randomIndex].quote %></span></li>
        <li><span class="quote-name"><%=quotes[randomIndex].name %></span></li>
        <li><span class="fas fa-thumbs-up quote-likes"><%=quotes[randomIndex].likes%></span></li>
        <li><button class="delete" id='delete'>Delete</button></li>
    </ul>
    <script src="js/main.js" type="text/javascript"></script>
</body>
</html>