li {
    list-style-type: none;
}
.each-quote {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 1em;
}
.quote-likes {
    margin: 0.5em 1em;
}
